*{
   margin: 0px;
}
body{ height: 140vh;
    

    background:
        radial-gradient(
            circle at 50% 45%,
            rgba(58, 83, 125, 0.65),
            transparent 45%
        ),
        radial-gradient(
            circle at 20% 50%,
            rgba(35, 60, 100, 0.3),
            transparent 40%
        ),
        #080f20;
}
header{ 
    height: 10vh;
    background-color:#0f1321;   /*#0f1321;*/
 align-content: center;
 position: sticky;
top: 0;
}
.headerText{
   
   display: flex;
 justify-content: space-between;
 align-items: center;
 
}
img{
   padding-left: 20px;
    height: 30px;
}
.signUp{
   font-size: 17px;
    color: #C2C6D6;
    
}
a{
text-decoration: none;
color: #ffff;
}
main{
    margin: 50px 0 50px 0;
   
display: flex;
justify-content: center;
align-items: center;
}
.container{
    
    width:400px ;
    /* height: 600px; */
    background-color: #171F33;
    color: #DAE2FD;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: start;
  
  
}
.cTopHeading{
display: grid;
justify-content: center; 
 padding-top: 48px;
}
.subcTopHeading{
    display: grid;
    justify-content: center;
    padding-top: 12px;
   font-size: smaller;
   letter-spacing: 2px;
}

.emailinput{
 padding-top: 80px;
 
}


input{
   background-color: #0f1321;
   color: #ADC6FF;
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    border: none;
    border-radius: 6px;
}
.Passward{
    width: 318px;
    padding-top: 15px;
}
.Login{
    margin-top: 25px;
    border: 0;
    color: #002E6A;
    background-color: #ADC6FF;
    width: 100%;
    padding: 7px;
    
}

.Or{
    color: #8C909F;
    margin-top: 75px;
}
.googleGit{
    
   border: solid black;
    color: #DAE2FD;
    background-color: #171F33;
    width: 151px;
    height: 46px;
   
}
#googleGit{
   margin: 30px;
}
.otherOption{
    padding-bottom: 20px;
}
footer{
  
    text-align: center;
    color: #8C909F;
    font-size: smaller;
 padding: 15px;
 white-space: pre-line;
}

.Login:hover{
    background-color: #7ea4fb;
}
.googleGit:hover{
    background-color: #222d49;
}

@media (max-width:391px){
   
    .signUp{
   margin-right: 20px;
   font-size: small;
}
 .container{
    width: 300px;
    font-size: small;
 }
 .subcTopHeading{
  letter-spacing: 0.5px;
    text-align: center;
 }
 label{
    margin: 25px;
    margin-bottom: 10px;
 }
 input{
    width: 80%;
    margin: 25px;
    margin-bottom: 10px;
}
.Login{
    margin: 35px;  
    width: 80%; 
    margin-bottom: 0px;
}
.Or{
    color: #8C909F;
    margin-top: 75px;
    font-size: x-small;
}
.googleGit{
    margin: 3px;
    width: 90px;
    height: 36px;  
}
footer{
  padding-bottom: 0;
}
}