*{
    margin: 0px;
}
body{
    background-color: #0e182f;
}
header{
    background-color: #000000;
    height: 119px;
 align-content: center;
}
.headerText{
   display: flex;
 justify-content: space-between;
 align-items: center;
padding-left: 48px;
padding-right: 48px;
padding-top: 28px;
padding-bottom: 28px;
 
}
.signUp{
   font-size: 17px;
    color: #C2C6D6;
    
}
main{
    
    height: 807px;
display: flex;
justify-content: center;
align-items: center;
}
.container{
    width:480px ;
    height: 759px;
    background-color: #171F33;
    color: #DAE2FD;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: start;
  
}
.cTopHeading{
/* display: grid;
justify-content: center; */
padding-top: 48px;
}
.subcTopHeading{
    /* display: grid;
    justify-content: center; */
    padding-top: 12px;
   font-size: smaller;
   letter-spacing: 2px;
}
label{
    display: block;
}
.emailButton{
 padding-top: 100px;
 
}
input{
   margin-top: 5px;
    border: 0;
    color: #8C909F;
    background-color: #222A3D;
    height: 30px;
}
.Passward{
    padding-top: 25px;
}
